.container__about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 0;
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    column-gap: 5%;
  }
  &-title {
    position: relative;
    @media only screen and (min-width: 1024px) {
      display: flex;
      align-items: flex-end;
    }
    img {
      width: 70%;
      @media only screen and (min-width: 1024px) {
        width: 100%;
      }
    }
    h2 {
      color: #dfdad8;
      position: absolute;
      top: 0;
      right: 40px;
      @media only screen and (min-width: 1024px) {
        z-index: 2;
        right: -40%;
      }
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media only screen and (max-width: 1024px) {
      margin-left: 10%;
      margin-right: 10%;
    }
    @media only screen and (min-width: 1024px) {
      margin-top: 15%;
      align-self: center;
    }
  }
}
