.container__contact {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../public/assets/home-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 1024px) {
    background-attachment: fixed;
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    input {
      border-radius: 100px;
    }
    textarea {
      border-radius: 25px;
      height: 150px;
    }
    .input {
      padding: 15px 15px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.8);
    }
    .submit-btn {
      margin-top: 20px;
      align-self: flex-end;
      input {
        border: none;
        background: transparent;
        cursor: pointer;
      }
      img {
        width: 10px;
      }
    }
  }
  .form-thanks {
    box-shadow: inset -4px -4px 4px #fdfbfa, inset 3px 3px 4px #bebab7;
    width: fit-content;
    padding: 15px 15px;
    border-radius: 100px;
    mix-blend-mode: multiply;
    background: linear-gradient(
      180deg,
      #f8f3f1 0%,
      rgba(245, 240, 238, 0) 107.5%,
      #ffffff 107.5%
    );
  }
}
