.container__home {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../public/assets/home-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  h1 {
    margin-block-end: 0;
    @media only screen and (min-width: 1024px) {
      max-width: 70%;
    }
  }
  p,
  a {
    margin-top: 30px;
    img {
      width: 10px;
    }
  }
}
