.container__header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 5;
  align-self: center;
  &-smartphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .burger {
      margin-left: 10%;
      z-index: 6;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      row-gap: 5px;
      span {
        display: block;
        height: 3px;
        background-color: black;
        width: 30px;
        border-radius: 25px;
      }
    }
    .ag-logo {
      width: 100px;
    }
    .contact-icon {
      margin-right: 10%;
      img {
        width: 30px;
      }
    }
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
  &-desktop {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    img {
      width: 100px;
    }
    nav {
      width: 40%;
      display: flex;
      justify-content: space-between;
      a {
        display: block;
      }
    }
  }
}
