.container__header {
  background: linear-gradient(88.64deg, #f5f0ee9e 9.53%, #ffffff75 134.77%);
  position: fixed;
  width: 100%;
  z-index: 5;
  align-self: center;
  nav {
    a {
      min-width: 100px;
      &:hover {
        font-weight: 800;
      }
    }
  }
  &-smartphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .burger {
      margin-left: 10%;
      z-index: 6;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      row-gap: 5px;
      position: relative;

      span {
        display: block;
        height: 3px;
        background-color: black;
        width: 30px;
        border-radius: 25px;
      }
    }
    .burger.open {
      span {
        &:nth-of-type(1) {
          animation: span-1 0.26s forwards ease-in-out;
        }
        &:nth-of-type(2) {
          animation: span-2 0.26s forwards ease-in-out;
        }
        &:nth-of-type(3) {
          animation: span-3 0.26s forwards ease-in-out;
        }
      }

      @keyframes span-1 {
        from {
          rotate: 0deg;
        }
        to {
          rotate: -45deg;
          position: absolute;
        }
      }
      @keyframes span-2 {
        from {
          display: block;
        }
        to {
          opacity: 0;
        }
      }
      @keyframes span-3 {
        from {
          rotate: 0deg;
        }
        to {
          rotate: 45deg;
          position: absolute;
        }
      }
    }

    .ag-logo {
      width: 100px;
      z-index: 6;
    }
    .contact-icon {
      margin-right: 10%;
      z-index: 6;
      img {
        width: 30px;
      }
    }
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
  &-desktop {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
      width: 100px;
    }
    nav {
      width: 40%;
      display: flex;
      justify-content: space-between;
      a {
        display: block;
      }
    }
  }
}

.container__navMenu {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-image: url("../../../public/assets/home-bg.png"),
    linear-gradient(88.64deg, #f5f0ee 9.53%, #ffffff 134.77%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  nav {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    row-gap: 50px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    height: fit-content;
    a {
      width: 85%;
      display: flex;
      justify-content: space-between;
      img {
        width: 15px;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}
